<h1>Create a Team and Heroes!</h1>

<form action='/teams' method="post">
  <label for="team_name">Team name:</label>
  <input type="text" id="team_name" name="team[name]">
  <label for="team_motto">Team motto:</label>
  <input type="text" id="team_motto" name="team[motto]">
  
  <label for="member1_name">Member 1 name:</label>
  <input type="text" id="member1_name"
  
</form>